body {
  background: var(--body-bg);
  color: var(--text-primary);
  font-size: 1rem;
  font-family: var(--font-serif);
}

main {
  background-color: var(--main-bg);
  background-image: 
    url('../images/pattern-light-bg.svg'),
    url('../images/pattern-glow.svg');
  background-position: 
    0 0, 
    left 26.625rem top 45.8125rem;
  background-repeat: no-repeat;
  background-size: 
    1440px 820px, 
    42.75rem 42.75rem;
}

p {
  font-size: var(--fs-lg);
  line-height: 1.4;
  letter-spacing: -0.03125rem;
}

h1 {
  color: var(--text-secondary);
  font-family: var(--font-mono);
  font-weight: var(--fw-bold);
  font-size: clamp(2.375rem, calc(0.944rem + 6.107vw), 3.875rem);
  line-height: 1.2;
  letter-spacing: var(--tracking-xxs);
  max-width: 35.625rem;
}

h2 {
  color: var(--text-secondary);
  font-family: var(--font-mono);
  font-weight: var(--fw-semi-bold);
  font-size: clamp(2.125rem, calc(1.773rem + 1.502vw), 3.125rem);
  line-height: 1.3;
  letter-spacing: clamp(-0.125rem, calc(-0.170rem + 0.223vw), -0.063rem);
}

h3 {
  color: var(--text-secondary);
  font-size: var(--fs-xl);
  font-family: var(--font-mono);
  font-weight: var(--fw-semi-bold);
  line-height: var(--line-md);
  letter-spacing: var(--tracking-xs);
}

img {
  border-radius: var(--radius-6);
}

picture img {
  border-radius: var(--radius-12);
}

q::before,
q::after {
  content: open-quote;
  quotes: none;
}

footer {
  color: var(--text-accent);

  background-color: var(--footer-bg);
  background-image: url('../images/pattern-dark-bg.svg');
  background-position: 0 0;
  background-repeat: no-repeat;

  border-top-left-radius: var(--radius-16);
  border-top-right-radius: var(--radius-16);

  & h2 {
    color: var(--text-accent);
    text-align: center;
  }
}