.call-to-action,
.call-to-action-alt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-150);
  color: var(--text-secondary);
  background-color: var(--button-bg);
  max-width: 23.75rem;
  padding: var(--spacing-250) var(--spacing-300);

  border: 0.125rem solid var(--border-primary);
  border-radius: var(--radius-8);

  font-size: var(--fs-base);
  font-family: var(--font-mono);
  font-weight: var(--fw-semi-bold);
  line-height: var(--line-xl);
  letter-spacing: var(--tracking-xs);

  & img {
    width: var(--spacing-300);
    height: var(--spacing-300);
  }
}

.call-to-action-alt {
  color: var(--text-accent);
  background-color: transparent;
  border-color: var(--border-accent);
  width: 100%;
}

.total-testimony {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);

  & img {
    width: 6.875rem;
    height: 2.5rem;
  }
}

.rating-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
  
  & p {
    font-family: var(--font-mono);
    font-size: var(--fs-sm);
    line-height: var(--line-lg);
    letter-spacing: var(--tracking-xs);
  }
}

.stars-container {
  display: flex;
  
  width: 7.5rem;
  height: 1.5rem;
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  font-size: var(--fs-lg);
  line-height: var(--line-2xl);
  letter-spacing: var(--tracking-sm);

  & li {
    display: flex;
    gap: 0.875rem;
  }
}

.tech-journey-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  margin: 0 var(--spacing-200);
  padding: var(--spacing-800) var(--spacing-200);
  border-radius: var(--radius-12);

  background-color: var(--main-bg);
  background-image: 
    url('../images/pattern-light-bg.svg'),
    url('../images/pattern-glow.svg');

  & .step-list {
    display: inherit;
    flex-direction: column;
    gap: var(--spacing-250);
  }

  @media (min-width: 48rem) {
    gap: var(--spacing-600);
    padding: var(--spacing-1000) var(--spacing-400);

    & .step-list {
      gap: var(--spacing-500);
    }
  }
}

.step-container {
  display: inherit;
  flex-direction: column;
  gap: var(--spacing-250);
  font-family: var(--font-mono);
  font-size: var(--fs-base);
  font-weight: var(--fw-semi-bold);
  line-height: var(--line-xl);

  & p {
    font-size: var(--fs-base);
  }
}

.step-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.125rem solid var(--border-primary);
    border-radius: var(--radius-4);

    font-family: var(--font-mono);
    font-size: var(--fs-base);
    font-weight: var(--fw-semi-bold);
    line-height: var(--line-xl);
  }

.option-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  padding: var(--spacing-300);
  border: 0.0625rem solid var(--border-secondary);
  border-radius: var(--radius-8);
  width: 340px;

  background-position: left -9.375rem top -2.5px;
  background-size: auto;

  & .option-details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }

  & hr {
    border: none;
    border-top: 0.0625rem solid var(--border-secondary);
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
  }

  & ul li {
    display: flex;
    gap: var(--spacing-150);
  }

  & ul li img {
    width: var(--spacing-300);
    height: var(--spacing-300);
  }
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: 0 var(--spacing-200);

  & .testimonial-text {
    display: inherit;
    flex-direction: column;
    gap: var(--spacing-300);

    font-family: var(--font-serif);
    font-size: var(--fs-lg);
    line-height: var(--line-2xl);
    letter-spacing: var(--tracking-sm);
  }

  & .testimonial-text q {
    font-family: var(--font-mono);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-xl);
    line-height: var(--line-md);
    letter-spacing: var(--tracking-xs);
    text-wrap: pretty;
  }

  @media (min-width: 48rem) {
    padding: 0 var(--spacing-400);
    gap: var(--spacing-400);

    .testimonial-text {
      font-size: var(--fs-lg);
    }

    .testimonial-text q {
      font-size: var(--fs-3xl);
      line-height: var(--line-xl);
    }
  }
}

.footer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
  padding: var(--spacing-300) var(--spacing-400);

  & p {
    font-family: var(--font-mono);
    font-size: var(--fs-sm);
    line-height: var(--line-lg);
    letter-spacing: var(--tracking-xs);
    }

    @media (min-width: 48rem) {
      flex-direction: row;
      justify-content: space-between;
    }
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-300);
}
