.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: var(--spacing-800);

  @media (min-width: 48rem) {
    gap: var(--spacing-1000);
  }

  @media (min-width: 90rem) {
    gap: 7.5rem;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-300) var(--spacing-200) var(--spacing-1000);
  gap: var(--spacing-600);
  margin: 0 auto;

  @media (min-width: 48rem) {
    padding: var(--spacing-400) var(--spacing-400) var(--spacing-1000);
    gap: var(--spacing-1000);
  }
}

.membership-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: 0 var(--spacing-200);

  @media (min-width: 48rem) {
    gap: var(--spacing-500);
    padding: 0 var(--spacing-400);
  }

  @media (min-width: 90rem) {
    gap: var(--spacing-800);
    padding: 0;
    margin: 0 auto;
    max-width: 60.625rem;

    & h2 {
      text-align: center;
    }
  }
}

.section-grid {
  display: grid;
  gap: var(--spacing-800);

  @media (min-width: 90rem) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.section-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--spacing-500);
  padding: 0 var(--spacing-200);

  @media (min-width: 48rem) {
    padding: 0 var(--spacing-400);
  }

  @media (min-width: 90rem) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-1000);
    margin: 0 auto;
    padding: 0;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-400);
}

.options-container,
.text-container,
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-300);

  @media (min-width: 48rem) {
    .cta-container {
      gap: var(--spacing-400);
    }
  }
}

.options-container {
  flex-direction: row;
  flex-wrap: balance;
  justify-content: center;
  align-items: center;

  width: 100%;

  @media (min-width: 48rem) {
    flex-wrap: wrap;
    justify-content: start;
  }

  @media (min-width: 90rem) {
    gap: var(--spacing-300);
  }
}

.text-container {
  @media (min-width: 90rem) {
    gap: 2.125rem;
  }
}

.cta-container {
   max-width: 24.25rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-800);
  padding: var(--spacing-600) var(--spacing-200) 0;

  @media (min-width: 48rem) {
    padding: var(--spacing-800) var(--spacing-400) 0;
  }

  @media (min-width: 90rem) {
    padding: var(--spacing-1000) 8.4375rem 0;
    margin: 0 auto;
  }
}
