.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: var(--spacing-800);
  max-width: 90rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-300) var(--spacing-200) var(--spacing-1000);
  gap: var(--spacing-600);

  @media (min-width: 48rem) {
    padding: var(--spacing-400) var(--spacing-400) var(--spacing-1000);
    gap: var(--spacing-800);
  }
}

.membership-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: 0 var(--spacing-200);

  @media (min-width: 48rem) {
    gap: var(--spacing-500);
    padding: 0 var(--spacing-400);
  }
}

.section-grid {
  display: grid;
  gap: var(--spacing-800);
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  padding: 0 var(--spacing-200);
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.options-container,
.text-container,
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);

  @media (min-width: 48rem) {
    .cta-container {
      gap: var(--spacing-400);
    }
  }
}

.options-container {
  flex-direction: row;
  flex-wrap: balance;
  justify-content: center;

  width: 100%;

  @media (min-width: 48rem) {
    flex-wrap: wrap;
    justify-content: start;
  }
}

.cta-container {
   max-width: 24.25rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-800);
  padding: var(--spacing-600) var(--spacing-200) 0;

  @media (min-width: 48rem) {
    padding: var(--spacing-800) var(--spacing-400) 0;
  }
}
