.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-800);
  max-width: 90rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-300) var(--spacing-200) var(--spacing-1000);
  gap: var(--spacing-600);
}

.membership-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  margin: 0 var(--spacing-200);
}

.section-grid {
  display: grid;
  gap: var(--spacing-800);
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  padding: 0 var(--spacing-200);
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.options-container,
.text-container,
.cta-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-800);
  padding: var(--spacing-600) var(--spacing-200) 0;
}
