.gradient-text {
  background-image: var(--text-gradient);
  background-clip: text;
  color: transparent;
}

.icon-size {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.tech-stack-icon {
  display: none;
}
