.gradient-text {
  background-image: var(--text-gradient);
  background-clip: text;
  color: transparent;
}

.bg-glow {
  background-color: var(--main-bg);
  background-image: url('../images/pattern-glow.svg');
  background-repeat: no-repeat;
}

.icon-size {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.hide-icon {
  display: none;
}

.image-overlay {
  position: relative;
  display: inline-block;
  line-height: var(--line-xl);
  overflow: visible;
  width: 7rem;

  & img {
    position: absolute;
    right: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.price-bold {
  color: var(--text-secondary);
  font-family: var(--font-mono);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-3xl);
  letter-spacing: var(--tracking-xs);
  line-height: var(--line-xl);
}
